* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1594dfad;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #184063;
    z-index: 8;
    margin-left: 2px;
    animation: timeline 6s linear forwards;
    z-index: -1;
}
@keyframes timeline {
    0%{
        height: 0;
    }
    100%{
        height: 100%
    }
}
.card {
    position: relative;
    padding: 10px 50px;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

}
@keyframes movedown {
    0% {
       opacity: 1; 
       transform: translateY(-30px);
    } 
    100% {
        opacity: 1; 
        transform: translateY(0px);
    }
}
.card img {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 80px;
    z-index: 1;
    background-color: #fff;
    /* border: 3px solid #fff; */
}
.timeline .card:last-child img {
    height: 52px;
}
.card-left {
  left: 5px;
}
.card-right {
  left: 50%
}
.card-left img {
    right: -24px;
    top: 104px;
}
.card-right img {
    left: -23px;
    top: 106px;
}
.info-card {
    padding: 35px 30px;
    background: #184063;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
}
.info-card p {
    margin-top: 15px;
}
.card .left-arrow {
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #184063ab;
    right: 30px;
    top: 111px;
}
.card .right-arrow {
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #184063ab;
    left: 30px;
    top: 111px;
}
.card:nth-child(1) {
    animation-delay: 0s;
}
.card:nth-child(2) {
    animation-delay: 1s;
}
.card:nth-child(3) {
    animation-delay: 2s;
}
.card:nth-child(4) {
    animation-delay: 3s;
}
.card:nth-child(5) {
    animation-delay: 4s;
}
.card:nth-child(6) {
    animation-delay: 5s;
}
@media screen and (max-width: 600px){
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .card {
        width: 100%;
        padding-left: 70px;
        padding-right: 20px;
    }
    .info-card {
        font-size: 13px;
    }
    .info-card small {
        margin-bottom: 10px;
    }
    .card-left {
        left: 0;
    }
    .card-right {
        left: 0;
    }
    .card-left img, .card-right img {
        left: 10px;
    }
    .right-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: 15px;
    }
    .left-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: 15px;
    }
}